* {
  box-sizing: border-box;
}
body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.zong {
  display: flex;
  width: 90vw;
}
.tu {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}
.tu h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}
.tu.kaishi {
  flex: 5;
}
.tu.kaishi h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
@media (max-width: 480px) {
  .zong {
    width: 100vw;
  }
  .tu:nth-of-type(4),
  .tu:nth-of-type(5) {
    display: none;
  }
}
